@font-face { font-family: "icon"; src: url('../font/icomoon/fonts/icomoon.eot?1583479110') format('embedded-opentype'), url('../font/icomoon/fonts/icomoon.woff?1583479110') format('woff'), url('../font/icomoon/fonts/icomoon.ttf?1583479110') format('truetype'), url('../font/icomoon/fonts/icomoon.svg?1583479110') format('svg'); }
*[class^="icon-"]:before, *[class*=" icon-"]:before { font-family: "icon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; }

.icon-chevron-left:before { content: "\e90f"; }

.icon-cross2:before { content: "\e117"; }

.icon-menu2:before { content: "\e120"; }

.icon-navigation-more:before { content: "\e900"; }

.icon-inbox-download:before { content: "\e904"; }

.icon-zoom-in:before { content: "\e901"; }
